.header{
    width: 90%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 10%;
    background-color: #222222;
    
}
/*Corrects the logo's color*/
header img{
    width:144px;
    filter: invert(77%) sepia(63%) saturate(434%) hue-rotate(105deg) brightness(99%) contrast(79%);
  }
header{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 10%;
}