.main-container{
    color: white;
    max-height: 85vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding:10%;
    background-image: url(../../assets/photo-couch.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 50%;
    min-height: 50vh;
}
.content > * {
    margin-bottom:1rem;
}
.content p{
    width: 35%;
    font-size: 1.5rem;
}
.content h3{
    font-size: 2rem;
}
.content h2 {
    font-size: 4rem;
}
/*Adds a hover animation to the get started button*/
button:hover{
    background-color: #b8f6f8;
    transform: translateY(-.5rem);
}
button{
    background-color: #50e3c2;
    color: #2f3237;
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 2.4rem;
    transition: all 1s ease;
    text-transform: uppercase;
    width: 10rem;
    
}
@media(max-width:1300px){
    
    .content > * {
        margin-bottom:1rem;
    }
    .content p{
        width: 35%;
        font-size: 1rem;
    }
    .content h3{
        font-size: 1rem;
    }
    .content h2 {
        font-size: 2rem;
    }
}
@media(max-width:800px){
    .main-container{
        width: auto;
        margin-bottom: 1rem;
    }
    .content {
        margin:0;
        width:90%;
    }
    .content p{
        width: auto;
        font-size: 1rem;
        
    }
    .content h3{
        font-size: 1rem;
    }
    .content h2 {
        font-size: 2rem;
    }
    button{
        margin-top: 1em;
        border-radius: 2.4rem;
        padding: .5rem;
        background-color: turquoise;
        font-size: .5rem;
        cursor: pointer;
    }
}